[Unit]
Description=Spotify Pi Thing API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=karan
WorkingDirectory=/home/karan/SpotifyPiThing
Environment=PATH=/home/karan/SpotifyPiThing/venv/bin
Environment=PYTHONPATH=/home/karan/SpotifyPiThing
ExecStartPre=/bin/sleep 5
ExecStart=/home/karan/SpotifyPiThing/venv/bin/uvicorn backend.main:app --host 0.0.0.0 --port 8888
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
